html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.main-container {
    display: flex;
    flex-direction: column;
}

.first {
    background-color: #1f2937;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
}

.header-links {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 20%;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* End of Header */

.first-body {
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 120px;
    justify-content: space-around;
    gap: 0px;
    width: 100%;
}

.first-body-left {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-right: -300px;
    margin-left: 90px;
    align-self: center;
}

.first-body-right {
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 1;
    border-radius: 5px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    align-self: flex-start;
    margin: 0;
    flex-shrink: 1;
}

.norm-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 90%;
    margin-top: 5px;
    flex-shrink: 1;
}

button {
    background-color: #3882F6;
    border: none;
    width: 25%;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

/* End of First Section */

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    margin-bottom: 3%;
}

.second-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 20px;
}

.second-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 30px;
}

.second-body {
    display: flex;
    gap: 0px 75px;
}

.first-card,
.second-card,
.third-card,
.fourth-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    border: 5px solid #777a7e;
}

.second-text1,
.second-text2,
.second-text3,
.second-text4 {
    text-align: center;
    width: 150px;
    padding: 10px;
}

/* End of Second Section */

.third {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 7%;
}

.third-main {
    display: flex;
    flex-direction: column;
    width: 46%;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    text-align: end;
    font-size: 25px;
    font-weight: bold;
}

/* End of Third Section */

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.fourth-main {
    display: flex;
    background-color: #3882F6;
    width: 40%;
    border-radius: 5px;
    padding: 35px 75px;
    justify-content: space-between;
}

.fourth-body {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin-left: 70px;
}

.fourth-header {
    font-size: 24px;
    color: #f9faf8;
}

.fourth-text {
    color: #F9FAF8;
    font-size: 15px;
}

.fourth-button {
    width: 150px;
    margin-right: 70px;
}

.fourth-button button {
    border: 3px solid #F9FAF8;
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}